*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: fixed;
}
nav{
    width: 84%;
    margin:auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 125px;
    cursor: pointer;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #F8A22F;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.info{
    margin-left: 6%;
    margin-top: 7%;
    padding-right: 100px;

}
.info h1{
    font-size: 85px;
    color: white;
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
}
.p2{
    font-family: 'Segoe UI', sans-serif;
    margin-top:20px;
    color: white;
}
.info p{
    line-height: 22px;
}
.info a{
    background: orange;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.about{
    background: #F8A22F;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border: none;
    border-radius: 20px;
    font-family: 'Segoe UI', sans-serif;
}
.about:hover{
    letter-spacing: 0.02em;
    background: #F8A22F;
    box-shadow: 0 0 20px #F8A22F;
    cursor: pointer;
    transition: 0.5s;
}
.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height: 540px;
    padding-left: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.social-link{
    margin-left: 8%;
    margin-top: 80px;
}
.social-link a{
    font-size: 30px;
    color: #2E65B2;
    margin-right: 20px;
}
.social-link a:hover{
    color: #F8A22F;
    font-size: 40px;
}
nav ul li a i{
    margin-right: 5px;
}
.info a{
    background: #40AFFE;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 20px;
    border-color: white;
    font-family: 'Segoe UI', sans-serif;
}
.info a:hover{
    letter-spacing: 0.02em;
    background: grey;
    box-shadow: 0 0 20px whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}
.p3{
    font-family: 'Lemon/Milk', sans-serif;
    font-family: 'Lemon/Milk light', sans-serif;
    color: transparent;
    font-size: 35px;
    -webkit-text-stroke: 1px white;
    padding-right: 50%;
    line-height: 10px;
    margin-bottom: 30px;
}
.p4{
    font-family: 'Lemon/Milk', sans-serif;
    font-family: 'Lemon/Milk light', sans-serif;
    color: transparent;
    margin-top: 35px;
    font-size: 35px;
    -webkit-text-stroke: 1px white;
}
.move{
    bottom: 0%;
    margin-top: -70px;
}
.movement{
    margin-top: 40px;
}
