*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('Mask_Group_9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: fixed;
}
nav{
    width: 84%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #F8A22F;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a i{
    margin-right: 5px;
}
.about{
    background: #F8A22F;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border: none;
    border-radius: 20px;
    font-family: 'Segoe UI', sans-serif;
}
.about:hover{
    letter-spacing: 0.02em;
    background: #F8A22F;
    box-shadow: 0 0 20px #F8A22F;
    cursor: pointer;
    transition: 0.5s;
}
.info{
    margin-left: 10%;
    padding-right: 100px;
    margin-top: -30px;
}
.img-box{
    width: 25%;
    height: 0%;
    position: absolute;
    bottom: 0;
    right: 100px;
    left: 750px;
    top: 100px;
    padding-right: 30px;
}
.events{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    color: #707070;
    font-weight: 2px;
}
.icon i{
    color: orange;
    margin-right: 20px;
}

.icon{
    font-size: 20px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    line-height: 50px;
    font-weight: bold;
}
.icon:hover{
    letter-spacing: 0.12em;
    transition: 0.5s;
    text-shadow: 0 0 20px  #ff9100;

}
.move-right{
    color: #707070;
    margin-left: 50px;
}
